In [2]:
import urllib.request, json 
from time import sleep
import time
import re
import nltk
from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd
import matplotlib.pyplot as plt 
import urllib.parse
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
pd.options.mode.chained_assignment = None

In [3]:
newspapers_ids_bn = pd.read_csv('bln-newspapers-ids.csv')
newspaper_loc_bn = pd.read_csv('bln-places.csv')

In [76]:
for d in range(0, 1):
    filename =  '1900'
    level = "ARTICLE"
    date = "[18910000 TO 19000000]"
    art_type = "News"
    offset = "0"
    limit = "-1"
    word= "pills"
    query = "<"+level+"§articleType:\""+art_type+"\" AND dateStart:"+date+ " AND " +word+"§"+level+">"
    query = urllib.parse.quote(query)
    url = "https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query="
    url += query
    url+= "&field=newspaperID&maxDocs=-1"
    time.sleep(5)
    with urllib.request.urlopen(url) as url:
        data = json.loads(url.read().decode())
    time.sleep(5)
    total_papers = len(data['results']['grouped'])

    new_retrieve_data = []

    for k in range(total_papers):
        paper_name = []
        paper_city = []
        newspaper_id = data['results']['grouped'][k]['fields']['newspaperID']
        total_term_freq = data['results']['grouped'][k]['stats']
        word_pills_freq= total_term_freq['totalTermFreq'] - total_term_freq['docFreq'] - total_term_freq['docFreq']
        word_pills_ratio = round(word_pills_freq/total_term_freq['docFreq'], 2)
        index_paper_id = newspapers_ids_bn[newspapers_ids_bn['id2s'].str.split(',').apply(lambda numbers: newspaper_id in numbers)]
        paper_name_index = index_paper_id['newspaper'].values
        for jj in range(0, len(paper_name_index)):
            paper_name.append(paper_name_index[jj])
        for p in paper_name:
            index_paper_loc = newspaper_loc_bn[newspaper_loc_bn['Publication Title'] == p]
            paper_city_ind = index_paper_loc['City'].values
            for ii in range(0, len(paper_city_ind)):
                paper_city.append(paper_city_ind[ii])
    
        new_retrieve_data.append([newspaper_id, paper_name,paper_city,word_pills_freq, word_pills_ratio])
    word_freq_loc = pd.DataFrame(new_retrieve_data, columns=['NewspaperID', 'NewspaperName', 'Location', 'WordFreq', 'WordRatio'])
    word_freq_loc['Location'] = word_freq_loc.Location.apply(lambda x: ', '.join([str(i) for i in x]))
    word_freq_loc['NewspaperName'] = word_freq_loc.NewspaperName.apply(lambda x: ', '.join([str(i) for i in x]))
    word_freq_loc.to_pickle('./data_location_news/' +filename + '.pkl')

In [78]:
excel_format = pd.read_pickle('./data_location_news/1900.pkl')

In [80]:
excel_format.to_excel('data_1900.xls')

In [364]:
import urllib.parse
level = "ISSUE"
date = "[18010101 TO 18101231]"
offset = "0"
limit = "-1"
query = "<"+level+"§dateStart:"+date+ "§"+level+">"
query = urllib.parse.quote(query)
#url = "https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/search??pretty&fieldEnricher=&offsetDataConverter=&query="
#url = "https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query="
url = "https://vm1973.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query="
url += query
url+= "&field=length&field=newspaperID&maxDocs=-1"
#url += "&field=newspaperID&field=ocrConfidence&field=text&field=title&offset="+offset
#url += "&limit="+limit
#url += "&snippetLimit=0&contextLevel=Sentence&contextExpandLeft=0&contextExpandRight=0&level=&endpoint=https%3A%2F%2Fvm0824.kaj.pouta.csc.fi%2Foctavo%2Fbln1800%2F"
print(url)

https://vm1973.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CISSUE%C2%A7dateStart%3A%5B18010101%20TO%2018101231%5D%C2%A7ISSUE%3E&field=length&field=newspaperID&maxDocs=-1

In [ ]:
paper_text_length.groupby(['Paper_Id', 'Decade'], as_index=False)[['Text_length']].sum()

In [ ]:
https://vm1973.kaj.pouta.csc.fi/octavo/bln1800

In [ ]:
url = "https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query="

In [276]:
classified_ads = 'https://vm1973.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CARTICLE%C2%A7articleType:%22Classified%20ads%22%C2%A7ARTICLE%3E&field=dateStart&fieldLength=4&sumF%20ields=length&maxDocs=-1'

In [319]:
issues_text = 'https://vm1973.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CISSUE%C2%A7%C2%A7ISSUE%3E&field=dateStart&fieldLength=4&sumF%20ields=length&maxDocs=-1'

In [320]:
with urllib.request.urlopen(issues_text) as url:
    data = json.loads(url.read().decode())

In [321]:
total_years = len(data['result']['grouped'])

In [322]:
years_text_length = []
for y in range(total_years):
    year = data['result']['grouped'][y]['fields']['dateStart']
    text_length = data['result']['grouped'][y]['stats']['totalTermFreq']
    years_text_length.append([year, text_length])

In [323]:
total_text_years = pd.DataFrame(years_text_length, columns=(['Year', 'Text_Length']))

In [331]:
classified_ads_text_years = classified_ads_text_years[(classified_ads_text_years['Year']>1800) & (classified_ads_text_years['Year']<1901)]

In [325]:
total_text_years.Year = total_text_years.Year.astype(int)

In [ ]:
for i in range(len(total_text_years)):
    year = total_text_years['Year']
    total_text_length = total_text_years

In [ ]:
classified_ads_text_years = classified_ads_text_years[(classified_ads_text_years['Year'])]

In [341]:
text_classified_ratio_years = total_text_years.merge(classified_ads_text_years, how='left', on='Year')

In [346]:
text_classified_ratio_years.to_csv('Total_text_class_ads_text_comparison.csv', index=False)

In [344]:

text_classified_ratio_years = text_classified_ratio_years.rename(columns={'Text_Length_x': 'Total_Text_Length', 'Text_Length_y': 'Class_Ads_Text_Length'})

In [356]:
text_classified_ratio_years = text_classified_ratio_years.sort_values('Year', ascending=True)

In [107]:
total_text = 'https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CISSUE%C2%A7dateStart%3A%5B18010101%20TO%2018101231%5D%C2%A7ISSUE%3E&field=newspaperID&fieldLength=10&sumFields=length&maxDocs=-1'

In [373]:
ads_text = 'https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CARTICLE%C2%A7dateStart%3A%5B18010101%20TO%2018101231%5D%20AND%20(articleType%3A%22Classified%20ads%22%20OR%20articeType%3A%22Advertisements%20%26%20Notices%22)%C2%A7ARTICLE%3E&field=newspaperID&fieldLength=10&sumFields=length&maxDocs=-1'

In [216]:
ads_text = 'https://vm0824.kaj.pouta.csc.fi/octavo/bln1800/queryStats?query=%3CARTICLE%C2%A7dateStart%3A%5B18910101%20TO%2019001231%5D%20AND%20(articleType%3A%22Classified%20ads%22%20OR%20articeType%3A%22Advertisements%20%26%20Notices%22)%C2%A7ARTICLE%3E&field=newspaperID&fieldLength=10&sumFields=length&maxDocs=-1'
with urllib.request.urlopen(ads_text) as url:
    data = json.loads(url.read().decode())
decade = 10
#paper_text_id = []
num_papers = len(data['results']['grouped'])
for n in range(num_papers):
    paper_id = data['results']['grouped'][n]['fields']['newspaperID']
    char_lengths = data['results']['grouped'][n]['stats']['length']
    paper_text_id.append([decade,paper_id, char_lengths])

In [218]:

papers_text_length = pd.DataFrame(paper_text_id, columns=(['Decade','Paper_ID', 'Ads_Text_Length'])) 
papers_text_length.to_csv('./classify_ads_text_decades/classify_ads_text_length.csv', index=False)

In [226]:
total_text = pd.read_csv('./total_text_decades/total_text_length.csv')

In [229]:
ads_text = pd.read_csv('./classify_ads_text_decades/classify_ads_text_length.csv')

In [243]:
#total_text['Paper_ID'] = total_text['Paper_ID'].str.replace('"','')

In [248]:
newspapers_ids_bn = pd.read_csv('bln-newspapers-ids.csv')
newspaper_loc_bn = pd.read_csv('bln-places.csv')

In [249]:
final_text_data.head()

   Decade  Paper_ID  Text_Length  Ads_Text_Length
0       1  BNCN0071    402423059        224573128
1       1  NCBL0117    322170564        180073255
2       1  BNCN0010    191035446         89022047
3       1  NCBL0130     67295837         33473755
4       1  BNCN0026     82597939         42258823

In [275]:
papers_ids_city = []

In [276]:
for newspaper_id in final_text_data['Paper_ID']:
        paper_name = []
        paper_city = []

        index_paper_id = newspapers_ids_bn[newspapers_ids_bn['id2s'].str.split(',').apply(lambda numbers: newspaper_id in numbers)]
        paper_name_index = index_paper_id['newspaper'].values
        for jj in range(0, len(paper_name_index)):
            paper_name.append(paper_name_index[jj])
        for p in paper_name:
            index_paper_loc = newspaper_loc_bn[newspaper_loc_bn['Publication Title'] == p]
            paper_city_ind = index_paper_loc['City'].values
            coord = index_paper_loc['Latitude,Longitude'].str.split(',').values
            if len(coord)>0:
                latitude = coord[0][0]
                longitude = coord[0][1]
            for ii in range(0, len(paper_city_ind)):
                paper_city.append(paper_city_ind[ii])
        papers_ids_city.append([newspaper_id, paper_name, paper_city, latitude,longitude ])

In [279]:
papers_text_loc_length= pd.DataFrame(papers_ids_city, columns=(['Paper_ID','Paper_Name', 'City', 'Latitude', 'Longitude'])) 
papers_text_loc_length.to_csv('paper_names_location.csv', index=False)

In [325]:
papers_names_loc = pd.read_csv('paper_names_location.csv')

In [301]:
papers_names_loc['Paper_Name'] = papers_names_loc.Paper_Name.apply(lambda x: ' '.join([str(i) for i in x]))

In [324]:
papers_names_loc.to_csv('paper_names_location.csv', index=False)

In [321]:
#papers_names_loc['City'] = papers_names_loc['City'].str.replace('\'','')

In [342]:
papers_names_loc.head()

   Paper_ID               Paper_Name       City   Latitude  Longitude
0  BNCN0071        Morning Chronicle     London  51.507351  -0.127758
1  NCBL0117             Morning Post     London  51.507351  -0.127758
2  BNCN0010       Caledonian Mercury  Edinburgh  55.953252  -3.188267
3  NCBL0130             Morning Post     London  51.507351  -0.127758
4  BNCN0026  Jacksons Oxford Journal     Oxford  51.752021  -1.257726

In [331]:
papers_text_length = pd.read_csv('final_text_data.csv')

In [341]:
papers_text_length.head()

   Decade  Paper_ID  Text_Length  Ads_Text_Length
0       1  BNCN0071    402423059        224573128
1       1  NCBL0117    322170564        180073255
2       1  BNCN0010    191035446         89022047
3       1  NCBL0130     67295837         33473755
4       1  BNCN0026     82597939         42258823

In [343]:
newspapers_names_text_loc = papers_text_length.merge(papers_names_loc, on='Paper_ID', how='inner')
#newspapers_names_text_loc = pd.merge(papers_text_length, papers_names_loc, on='Paper_ID')

In [350]:
newspapers_names_text_loc = pd.concat([papers_text_length.set_index('Paper_ID'),papers_names_loc.set_index('Paper_ID')], axis=1, join='inner').reset_index()

In [365]:
newspapers_names_text_loc.to_excel('newspapers_names_text_loc.xls', index=False)

In [364]:
newspapers_names_text_loc.head()

,Paper_ID,Decade,Text_Length,Ads_Text_Length,Paper_Name,City,Latitude,Longitude,Ratio
0,BNCN0071,1,402423059,224573128,Morning Chronicle,London,51.507351,-0.127758,0.558052
1,NCBL0117,1,322170564,180073255,Morning Post,London,51.507351,-0.127758,0.558938
2,BNCN0010,1,191035446,89022047,Caledonian Mercury,Edinburgh,55.953252,-3.188267,0.465998
3,NCBL0130,1,67295837,33473755,Morning Post,London,51.507351,-0.127758,0.497412
4,BNCN0026,1,82597939,42258823,Jacksons Oxford Journal,Oxford,51.752021,-1.257726,0.511621

In [506]:
newspapers_names_text_loc[newspapers_names_text_loc['Paper_Name'] .str.contains('Poor Man')]

,Paper_ID,Decade,Text_Length,Ads_Text_Length,Paper_Name,City,Latitude,Longitude,Ratio
221,BNCN0042,4,13797058,1229094,Poor Mans Guardian,London,51.507351,-0.127758,0.089084

In [363]:
newspapers_names_text_loc['Ratio'] = newspapers_names_text_loc['Ads_Text_Length']/newspapers_names_text_loc['Text_Length']

In [366]:
newspapers_names_text_loc.head()

,Paper_ID,Decade,Text_Length,Ads_Text_Length,Paper_Name,City,Latitude,Longitude,Ratio
0,BNCN0071,1,402423059,224573128,Morning Chronicle,London,51.507351,-0.127758,0.558052
1,NCBL0117,1,322170564,180073255,Morning Post,London,51.507351,-0.127758,0.558938
2,BNCN0010,1,191035446,89022047,Caledonian Mercury,Edinburgh,55.953252,-3.188267,0.465998
3,NCBL0130,1,67295837,33473755,Morning Post,London,51.507351,-0.127758,0.497412
4,BNCN0026,1,82597939,42258823,Jacksons Oxford Journal,Oxford,51.752021,-1.257726,0.511621

In [394]:
issue_test = newspapers_names_text_loc.groupby(['City', 'Decade'], as_index=False)[['Text_Length', 'Ads_Text_Length']].sum()

In [400]:
issue_test['Ratio']= round((issue_test['Ads_Text_Length']/issue_test['Text_Length'])*100,2)

In [403]:
issue_test = issue_test.drop(['Text_Length', 'Ads_Text_Length'], axis=1)

In [416]:
new_data = (issue_test.set_index('Decade').T)

In [425]:
dfout = issue_test.set_index(['City','Decade']).unstack()['Ratio']

In [436]:
dfout.to_csv('transpose.csv')

In [437]:
trans = pd.read_csv('transpose.csv')

In [443]:
city_coord  = trans.join(newspaper_loc_bn.set_index('City'), on='City')

In [488]:
city_coord = city_coord.drop(['Latitude,Longitude'], axis = 1)

In [492]:
city_coord['Longitude'] = Longitude

In [494]:
city_coord.to_csv('cities_coord.csv', index=False)

In [483]:
Latitude = []
Longitude = []
for c in city_coord['City']:
    index_paper_loc = newspaper_loc_bn[newspaper_loc_bn['City'] == c]
            
    coord = index_paper_loc['Latitude,Longitude'].str.split(',').values
    if len(coord)>0:
        Latitude.append(coord[0][0])
        Longitude.append(coord[0][1])
    else:
        Latitude.append(0)
        Longitude.append(0)